@import "variables";

html {
  font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0 0 50px 0;
  margin: 0;
}

h1 {
  font-size: 26px;
  padding: 5px 0;
  margin: 0;
  display: inline;
  color: $secondaryColour;
  @media #{$retinaBreakpoint} {
    font-size: 52px;
  }
}

h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  display: inline;
  color: $tertiaryColour;
  @media #{$retinaBreakpoint} {
    font-size: 46px;
  }
}

h3 {
  font-size: 16px;
  padding: 20px 0;
  color: $tertiaryColour;
  @media #{$retinaBreakpoint} {
    font-size: 38px;
  }
}

h4 {
  font-size: 14px;
  padding: 10px 0;
  color: $tertiaryColour;
  @media #{$retinaBreakpoint} {
    font-size: 34px;
  }
}

p, a {
  font-size: 12px;
  margin: 0 0 10px 0;
  @media #{$retinaBreakpoint} {
    font-size: $retinaFontSize;
  }
  &.legal {
    font-size: 10px;
    margin: 50px 0;
    text-align: center;
  }
}

pre {
  background-color: #dbdbdb;
  border: 1px solid #ddd;
  color: #515450;
  padding: 10px;
  margin: 0 0 20px 0;
  @media #{$retinaBreakpoint} {
    font-size: #{$retinaFontSize - 2};
  }
}

code {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  padding: 10px;
  @media #{$retinaBreakpoint} {
    font-size: #{$retinaFontSize - 2};
  }
}

var {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  color: #515450;
  padding: 0;
  @media #{$retinaBreakpoint} {
    font-size: #{$retinaFontSize - 2};
  }
}

li {
  list-style: none;
}

.title-bar-bg {
  background-color: $white;
  border-bottom: 1px solid $primaryColour;
  color: $darkGrey;
  font-weight: bold;
  width: 100%;
  float: left;
  clear: both;
  padding: 20px 0;
  .title-bar {
    max-width: $maxWidth;
    margin: 0 auto;
    @media #{$largeBreakpoint} {
      width: 94%;
      padding: 0 3%;
    }
  }
}

.main-container {
  clear: both;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  @media #{$largeBreakpoint} {
    width: 94%;
    padding: 0 3%;
  }
}

.container {
  position: static;
  font-style: none;
}

.github {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0;
  opacity: .7;
  cursor: pointer;
  a, span, img  {
    display: inline-block;
    color: #3c3c3c;
    text-decoration: none;
    vertical-align: middle;
  }
  &:hover {
    opacity: 1;
  }
}

.documentation {

  position: static;

  dl {

    font-size: 14px;
    margin: 0 0 20px 0;

    .key-name {
      font-weight: bold;
      color: $primaryColour;
      font-size: 16px;
    }

    .var-type {
      font-style: italic;
      color: darkslategrey;
    }

    dt {
      display: inline;
      color: $primaryColour;
    }

    dd {
      display: inline;
      margin: 0;
    }

  }
}

ul.modes {
  color: $primaryColour;
}

ul.slides {

  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }

  .image-slide {

  }

}

.download {
  font-weight: bold;
  padding: 10px 0;
  a {
    font-size: 14px;
    color: $secondaryColour;
    &:hover, &:selected {
      color: $tertiaryColour;
    }
    @media #{$retinaBreakpoint} {
      font-size: $retinaFontSize;
    }
  }
}

.true {
  color: $tertiaryColour;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.false {
  color: $secondaryColour;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.small-doc {
  display: block;
  li {
    list-style: none;
    color: #7f7f7f;
    @media #{$retinaBreakpoint} {
      font-size: $retinaFontSize;
    }
    .key {
      font-weight: bold;
      font-size: 14px;
      color: $secondaryColour;
      @media #{$retinaBreakpoint} {
        font-size: $retinaFontSize;
      }
    }
    .description {
      font-weight: normal;
      font-size: 12px;
      @media #{$retinaBreakpoint} {
        font-size: $retinaFontSize;
      }
    }
    .default-value, .type {
      color: #2c2c2c;
      @media #{$retinaBreakpoint} {
        font-size: #{$retinaFontSize - 1};
      }
    }
    margin: 0 0 30px 0;
  }
}