@import "variables";

.swipe-area {

  background-color: $tertiaryColour;;
  width: 100%;
  height: 400px;

  p {
    font-size: 36px;
    color: white;
    height: 400px;
    line-height: 400px;
    vertical-align: middle;
    text-align: center;
  }

}

.output-container {
  background-color: #c0c0c0;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
  @media #{$retinaBreakpoint} {
    font-size: $retinaFontSize;
  }
  .output {
    font-weight: normal;
  }
}
