$smallSize: 550px;
$mediumSize: 850px;
$largeSize: 1000px;

$smallBreakpoint: "all and (max-width: " + $smallSize + ")";
$mediumBreakpoint: "all and (max-width: " + $mediumSize + ")";
$largeBreakpoint: "all and (max-width: " + $largeSize + ")";
$retinaBreakpoint: "all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$primaryColour: #c7cac6;
$secondaryColour: #3e74ff;
$blue: #3e74ff;
$white: #FFFFFF;
$tertiaryColour: #ff413c;
$quadaryColour: #8FBE00;
$darkGrey: #515450;
$maxWidth: 1000px;
$retinaFontSize: 32px;