html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* 'use strict' */

html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0 0 50px 0;
  margin: 0;
}

h1 {
  font-size: 26px;
  padding: 5px 0;
  margin: 0;
  display: inline;
  color: #3e74ff;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  h1 {
    font-size: 52px;
  }
}

h2 {
  font-size: 18px;
  padding: 0;
  margin: 0 0 0 15px;
  display: inline;
  color: #ff413c;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  h2 {
    font-size: 46px;
  }
}

h3 {
  font-size: 16px;
  padding: 20px 0;
  color: #ff413c;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  h3 {
    font-size: 38px;
  }
}

h4 {
  font-size: 14px;
  padding: 10px 0;
  color: #ff413c;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  h4 {
    font-size: 34px;
  }
}

p, a {
  font-size: 12px;
  margin: 0 0 10px 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  p, a {
    font-size: 32px;
  }
}
p.legal, a.legal {
  font-size: 10px;
  margin: 50px 0;
  text-align: center;
}

pre {
  font-family: Consolas, monospace;
  background-color: #dbdbdb;
  border: 1px solid #ddd;
  color: #515450;
  padding: 10px;
  margin: 0 0 20px 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  pre {
    font-size: 28px;
  }
}

var {
  font-family: Consolas, monospace;
  font-style: normal;
  font-weight: normal;
  color: #515450;
  padding: 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  var {
    font-size: 28px;
  }
}

li {
  list-style: none;
}

.title-bar-bg {
  background-color: white;
  border-bottom: 1px solid #c7cac6;
  color: #515450;
  font-weight: bold;
  width: 100%;
  float: left;
  clear: both;
  padding: 20px 0;
}
.title-bar-bg .title-bar {
  max-width: 1000px;
  margin: 0 auto;
}
@media all and (max-width: 1000px) {
  .title-bar-bg .title-bar {
    width: 94%;
    padding: 0 3%;
  }
}

.main-container {
  clear: both;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
@media all and (max-width: 1000px) {
  .main-container {
    width: 94%;
    padding: 0 3%;
  }
}

.container {
  position: static;
  font-style: none;
}

.github {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0;
  opacity: .7;
  cursor: pointer;
}
.github a, .github span, .github img {
  display: inline-block;
  color: #3c3c3c;
  text-decoration: none;
  vertical-align: middle;
}
.github:hover {
  opacity: 1;
}

ul.modes {
  color: #c7cac6;
}

ul.slides {
  margin: 0;
  padding: 0;
}
ul.slides li {
  list-style: none;
}

.download {
  font-weight: bold;
  padding: 10px 0;
}
.download a {
  font-size: 14px;
  color: #3e74ff;
}
.download a:hover, .download a:selected {
  color: #ff413c;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .download a {
    font-size: 32px;
  }
}

.true {
  color: #ff413c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.false {
  color: #3e74ff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.small-doc {
  display: block;
}
.small-doc li {
  list-style: none;
  color: #7f7f7f;
  margin: 20px 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .small-doc li {
    font-size: 30px;
  }
}
.small-doc li .key {
  font-weight: bold;
  font-size: 14px;
  color: #3e74ff;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .small-doc li .key {
    font-size: 30px;
  }
}
.small-doc li .val {
  color: #2c2c2c;
}
.small-doc li .description {
  font-weight: normal;
  font-size: 12px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .small-doc li .description {
    font-size: 30px;
  }
}
.small-doc li .default-value, .small-doc li .type {
  font-weight: bold;
  color: #ff413c;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .small-doc li .default-value, .small-doc li .type {
    font-size: 30px;
  }
}


/* 'use strict' */

.swipe-area {
  background-color: #ff413c;
  width: 100%;
  height: 400px;
}
.swipe-area p {
  font-size: 36px;
  color: white;
  height: 400px;
  line-height: 400px;
  vertical-align: middle;
  text-align: center;
}

.output-container {
  background-color: #c0c0c0;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .output-container {
    font-size: 32px;
  }
}
.output-container .output {
  font-weight: normal;
}
